Source: ros-ardent-poco-vendor
Section: misc
Priority: extra
Maintainer: Steven! Ragnarök <steven@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libexpat1-dev, libpcre3-dev, libsqlite3-dev, ros-ardent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-ardent-poco-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cmake, libexpat1-dev, libpcre3-dev, libsqlite3-dev, ros-ardent-ros-workspace
Description: CMake shim over the poco library.
